{% extends "base.html" %}

{% block title %}Ooniversity-Student remove{% endblock title %}

{% block student_ref %}{% url 'students:list_view' %}{% endblock student_ref %}

{% block content %}<div class="container">
          <h2>Student {{ object.name }} {{ object.surname }} will be deleted</h2>
        </div>
        <div class="container">
            <form method="post">
                {{ title }}</br>
                {% csrf_token %}
                <input type="submit", value="Удалить">
          </form>
        </div>{% endblock content %}