html {
  position: relative;
  min-height: 100%;
}

body {
  background-attachment: fixed;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

h1 {
  color: #C8C190;
  text-align: center;
}

h2 {
  color: #C8C190;
  text-align: center;
}

h3 {
  color: #C8C190;
  text-align: center;
}

h4 {
  color: #C8C190;
}

span.label.label-default {
  color: green;
  background-color: yellow;
}

p {
  color: #D1DBDB;
  text-align: center;
}

p#bl {
  color: #D1DBDB;
}

span {
  color: grey;
}

span.red {
  color: red;
}

div.jumbotron {
  background: transparent;
}

div.container {
  text-align: center;
}

div.bgr {
  background-color: rgba(255,255,255,0.5);
}


li#learn1 {
  color: #D1DBDB;
  text-align: left;
}

li#learn2 {
  color: #D1DBDB;
  text-align: left;
}

li#learn3 {
  color: #D1DBDB;
  text-align: left;
}

li#learn4 {
  color: #D1DBDB;
  text-align: left;
}

table {
  color: #D1DBDB;
}

th {
  text-align: center;
}

caption {
  font-size: larger;
  color: #C8C190;
  text-align: center;
}
label {
  color: #D1DBDB;
}

tr.tr-sum {
  font-size: larger;
  color: red;
  background-color: rgba(255,255,255,0.5);
}

p.result {
  font-size: larger;
  color: blue;
  background-color: rgba(255,255,255,0.5);
}

p.alert {
  font-size: larger;
  color: red;
  background-color: rgba(255,255,255,0.5);
}

li.q {
  background-color: rgba(255,255,255,0.5);
  text-align: left;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
  color: #D1DBDB
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

