body {
  background-attachment: fixed;
}

h1 {
  color: #C8C190;
  text-align: center;
}

h2 {
  color: #C8C190;
  text-align: center;
}

h3 {
  color: #C8C190;
  text-align: center;
}

h4 {
  color: #C8C190;
}

span.label.label-default {
  color: green;
  background-color: yellow;
}

p {
  color: #D1DBDB;
  text-align: center;
}

p#bl {
  color: #D1DBDB;
}

span {
  color: grey;
}

div.jumbotron {
  background: transparent;
}

div.container {
  text-align: center;
}


li#learn1 {
  color: #D1DBDB;
  text-align: left;
}

li#learn2 {
  color: #D1DBDB;
  text-align: left;
}

li#learn3 {
  color: #D1DBDB;
  text-align: left;
}

li#learn4 {
  color: #D1DBDB;
  text-align: left;
}

table {
  color: #D1DBDB;
}

th {
  text-align: center;
}

caption {
  font-size: larger;
  color: #C8C190;
  text-align: center;
}
label {
  color: #D1DBDB;
}

tr.tr-sum {
  font-size: larger;
  color: red;
  background-color: rgba(255,255,255,0.5);
}

