{% extends "base.html" %}

{% block title %}Ooniversity-Contacts{% endblock title %}

{% block nav_class_contacts %}active{% endblock nav_class_contacts %}
        
{% block content %}<div class="container">
          <h2>Director</h2>
          <p>Name: Ivanov Vasya</p>
          <ul>
            <li id='learn1'>Skype: Ivanov_Vasya</li>
            <li id='learn2'>Email: Ivanov_Vasya@pybursa.com</li>
            <li id='learn3'>Phone: +38(067)-123-45-67</li>
          </ul>
        </div>
        <div class="container">
          <h2>Manager</h2>
          <p id='bl'>Name: Pupkin Petr</p>
          <ul>
            <li id='learn1'>Skype: Pupkin_Petr</li>
            <li id='learn2'>Email: Pupkin_Petr@pybursa.com</li>
            <li id='learn3'>Phone: +38(067)-123-45-68</li>
          </ul>
        </div>
        <div class="container">
          <h3>Founder</h3>
          <p id='bl'>Name: Sidorov Stepan</p>
          <ul>
            <li id='learn1'>Skype: Sidorov_Stepan</li>
            <li id='learn2'>Email: Sidorov_Stepan@pybursa.com</li>
            <li id='learn3'>Phone: +38(067)-123-45-69</li>
          </ul>
        </div>{% endblock content %}