{% extends "base.html" %}

{% block title %}Ooniversity-Feedback{% endblock title %}

{% block student_ref %}{% url 'students:list_view' %}{% endblock student_ref %}

{% block nav_class_feedback %}active{% endblock nav_class_feedback %}

{% block content %}<div class="container">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="container">
          <h2>Add feedback info</h2>
        </div>
        <div class="container">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit", value="Add">
          </form>
        </div>{% endblock content %}