<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBursa student detail</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  {% load staticfiles %}
  <body background="{% static 'images/Student_back.jpg' %}">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>PyBursa
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Main</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
            <li><a href="{% url 'student_list' %}">Students</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><h4>Версия <span class="label label-default">3</span></h4></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class='col-md-2'></div>
      <div class="jumbotron col-md-8">
        
        <div class="container">
          <div class="container">
            <h2>Ivanov Ivan</h2>
          </div>
          <div class="container">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="surname" class="col-sm-2 control-label">Surname</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="surname" placeholder="Ivanov" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="Ivan" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="patromynic" class="col-sm-2 control-label">Patronymic</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="patromynic" placeholder="Ivanovich" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="birth_date" class="col-sm-2 control-label">Birth Date</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="birth_date" placeholder="01.05.1980" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="address" placeholder="Ivanova str., 34, Kharkiv, 61001" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="address" placeholder="ivanov_i@trash.ua" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="skype" class="col-sm-2 control-label">Skype</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="skype" placeholder="Ivanov_Ivan" readonly>
                </div>
              </div>
            </form>
          </div>
            <table class="table">
              <caption>Performance</caption>
              <tr>
                <th>Course</th>
                <th>Week</th>
                <th>Control Type</th>
                <th>Grade</th>
              </tr>
              <tr>
                <td>PY102 Pyton begining</td>
                <td>Week 1</td>
                <td>Tests</td>
                <td>98%</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Problem Task 1</td>
                <td>100%</td>
              </tr>
               <tr>
                <td></td>
                <td></td>
                <td>Problem Task 2</td>
                <td>100%</td>
              </tr>
              <tr class="tr-sum">
                <td>Average Grade</td>
                <td></td>
                <td></td>
                <td>100%</td>
              </tr>
              <tr class="tr-sum">
                <td>Rating</td>
                <td></td>
                <td></td>
                <td>27</td>
              </tr>
            </table>
          <div class="container">

          </div>
        </div>
        
      </div>
    </div>

   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% load staticfiles %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>