{% extends "base.html" %}

{% block title %}Ooniversity-Course{% endblock title %}

{% block content %}<div class="container">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="container">
          <a href="{% url 'courses:add_lesson' course_detail.id %}">Добавить занятие</a>
        </div>
        <div class="container">
          <h2>{{ course_detail.name }}</h2>
          <p>{{ course_detail.description|truncatechars:32 }}</p>
        </div>
        <div class="container">
          <h3>Coaches</h3>
        </div>
        <div class="container">
          <p><a href="{% url 'coaches:detail' course_detail.coach.id %}">{{ course_detail.coach.user.get_full_name }}</a></p>
          <p>{{ course_detail.coach.description }}</p>
        </div>
         <div class="container">
          <p><a href="{% url 'coaches:detail' course_detail.assistant.id %}">{{ course_detail.assistant.user.get_full_name }}</a></p>
          <p>{{ course_detail.assistant.description }}</p>
        </div>
        <div class="container">
          <h3>Lessons</h3>
        </div>
        <div class="container">
          <table class="table">
            <tr>
              <th>#</th>
              <th>Subject</th>
              <th>Description</th>
            </tr>
            {% if course_detail %}
              {% for lesson in course_detail.lesson_set.all %}
                <tr>
                  <td>{{ lesson.order }}</td>
                  <td>{{ lesson.subject }}</td>
                  <td>{{ lesson.description }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>{% endblock content %}