{% extends "base.html" %}

{% block title %}Ooniversity-Coach{% endblock title %}

{% block content %}<div class="container">
          {{ title }}
          <h2>{{ coach.user.get_full_name }}</h2>
        </div>
        <div class="container">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="birth_date" class="col-sm-2 control-label">Birth Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="birth_date" placeholder="{{ coach.date_of_birth|date:'d F, Y' }}">
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-2 control-label">Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="address" placeholder="{{ coach.address }}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">E-mail</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="address" placeholder="{{ coach.user.email }}" readonly>
              </div>
            </div>
             <div class="form-group">
              <label for="skype" class="col-sm-2 control-label">Skype</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="skype" placeholder="{{ coach.skype }}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="surname" class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="surname" placeholder="{{ coach.phone }}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Courses coach</label>
              <div class="col-sm-10 bgr">
                {% for course in coach.coach_courses.all %}
                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> 
                  students <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-hand-right red" aria-hidden="true"></span></a></br>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Courses assistant</label>
              <div class="col-sm-10 bgr">
                {% for course in coach.assistant_courses.all %}
                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> 
                  students <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-hand-right red" aria-hidden="true"></span></a></br>
                {% endfor %}
              </div>
            </div>
          </form>
        </div>{% endblock content %}